.content {
    width: 100%;
    padding: 50px 0 100px;
    background-color: var(--dark);
    border-image: fill 0 linear-gradient(to top, var(--grey), transparent);
}
.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.cards {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
}
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;

}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    background-color: var(--dark);
    border-radius: 10px;
    overflow: hidden;
    transition: transform .2s ease;
    opacity: 0;
}
.card:hover {
    background-color: var(--light-grey);
    transform: translateY(-5px);
}
.card:last-child {
    border: none;
}
.card h2 {
    font-size: var(--fz-sm);
    color: var(--white);
}
.card h2:first-child {
    padding-bottom: 10px;
    font-weight: 800;
    color: var(--gold);
    font-size: var(--fz-md);
    font-family: 'Bukrah';

}
.card h2:last-child {
    font-size: var(--fz-sm);
}
@media (max-width: 600px) {
    .content {
      padding: 100px 0 0;
    }
    .container {
      width: 95%;
    }
    .cards {
        padding-top: 40px;
    }
  }