.content {
    width: 100%;
    height: 100vh;
    background: url('/images/hero_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-image: fill 0 linear-gradient(to top, var(--grey),  transparent);
    background-attachment: fixed;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    position: relative;
    z-index: 3;
    padding-right: 5%;
    padding-bottom: 20vh;
}
.center {
    width: max-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-right: 8px solid var(--gold);
    padding: 0 30px;
}
.center h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
}
.center h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--gold);
}