.content {
    width: 100%;
    height: 100vh;
    background: url('/images/hero_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-image: fill 0 linear-gradient(to top, var(--grey),  transparent);
    background-attachment: fixed;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 3;
    padding-right: 7%;
}
.center {
    width: max-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-right: 10px solid var(--gold);
    padding: 0 40px;
}
.bg {
    position: absolute;
    top: 0;
    right: 30%;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: start;
}
.bg img {
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.center h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
}
.center h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--gold);
}