@font-face {
    font-family: 'Ubuntu Arabic';
    src: url('UbuntuArabic-Regular.eot');
    src: url('UbuntuArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('UbuntuArabic-Regular.woff2') format('woff2'),
        url('UbuntuArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

