.content {
  padding: 0 20px;
  padding-bottom: 20px;
}
.sub_heading {
  width: 50%;
  display: flex;
  align-items: center;
  color: var(--white);
  font-weight: 500;
  font-size: var(--fz-md);
  text-transform: uppercase;
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;
}
.centerd {
  text-align: center;
}
.point {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: var(--radius-circle);
  position: relative;
  margin-right: 8px;
}
.point::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  border-radius: var(--radius-circle);
  border: 0.7px solid var(--dark-slate);
}
.part {
  overflow: hidden;
  text-align: center;

}
.part h1 {
  display: flex;
  font-size: 2.3rem;
  font-family: "Bukrah";
  font-weight: 800;
  color: var(--gold);
  text-transform: uppercase;
  transform: translateY(100%);
  opacity: 0;
}
@media (max-width: 1000px) {
  .sub_heading {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .sub_heading {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .part h1 {
    font-size: 1.6rem;
  }
}
@media (max-width: 390px) {
  .part h1 {
    font-size: 1.2rem;
  }
}
